JWT_SECRET=fake
COOKIE_KEY=fake
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=fake
POSTGRES_DATABASE=auth_database
RUN_MIGRATIONS=false
DB_SYNC=true
EMAIL_HOST="sandbox.smtp.mailtrap.io"
EMAIL_USER="fake"
EMAIL_PASS="fake"
EMAIL_PORT=2525
FROM_EMAIL='test@example.com'
JWT_EMAIL_SECRET=fake
EMAIL_CONFIRMATION_URL=http://localhost:3000/mailer/confirm_email
JWT_FORGET_PASS_SECRET=fake
RESET_PASSWORD_URL=http://localhost:3000/auth/reset_password
GOOGLE_CLIENT_ID=fake
GOOGLE_CLIENT_SECRET=fake
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google_redirect
